.todo-input  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.todo-input__field {
    width: 100%;
    margin-bottom: 20px;
}

.todo-input__field input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: $dark-blue;
    border: none;
    color: $white;
    font-size: 18px;
    outline: none;
}

.todo-input__field select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: $dark-blue;
    border: none;
    color: $white;
    outline: none;
    font-size: 18px;
}

.todo-input__add-button,
.todo-input__reset-button {
    width: 60%;
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
    background: radial-gradient(133.33% 2508.35% at -4.59% -10%, #32E6FF 0%, rgba(0, 255, 209, 0.81) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #5FFFCF 100%), #43E8FF;
    border: none;
    color: $white;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}

.todo-input__reset-button {
  background: linear-gradient(124.04deg, rgba(182, 26, 255, 0.5) -6.27%, rgba(0, 26, 255, 0.5) 98.36%), #656CFF;
}
