// Colors
$white: #ffffff;
$black: #1d1613;
$regular-black: #000000;
$grey-placeholder: #9b9997;
$grey: #f6f5f4;
$brown: #a87b62;
$beige: #f0eae4;
$white-opacity-low: rgba(255, 255, 255, 0.75);
$box-shadow-color: rgba(219, 213, 208, 0.24);
$box-shadow-log-in: rgba(226, 221, 215, 0.24);
$modal-background: rgba(29, 22, 19, 0.25);
$blue: #25283f;
$dark-blue: #14192d;

//fonts
$base-font: "Poppins", "Arial", sans-serif;
$alternative-font: "Cormorant Garamond", "Arial", sans-serif;
